  
<h3>Contact Form</h3>

<form method="post" action="{% url 'index' %}">
	{% csrf_token %}
	<textarea name="name" placeholder="Message..."></textarea>
	<input type="email" name="email" placeholder="your email" > 
	<input type="text" name="title" placeholder="title" >
	<input type="text" name="text" placeholder="text" >
	<input type="submit" />
</form>